<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
    <title>{{page.title}}</title>
		<meta name="description" content="{{page.meta}}">
		<link href="{{site.baseurl}}/css/module.css" rel="stylesheet">
		<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
		<link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
		<link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Raleway:500,300" rel="stylesheet">
		<link rel="{{site.baseurl}}/shortcut icon" href="img/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="handheldfriendly" content="true">
		<meta name="mobileoptimized" content="240">
</head>

	<div class="business-card home">
	</div>

	<ul class="skip-links">
		<li><a href="#main">Jump to main content</a></li>
		<li><a href="#nav">Jump to nav</a></li>
	</ul>

	<header role="banner" id="top">
		<div class="grid grid-middle">
			<div class="unit xs-1-2 push-0 grid-middle no-print">
				<a href="index.html"><img class="island logo" src="http://placehold.it/60x60" alt="Stephanie Paiement"></a>
			</div>

			<div class="unit xs-1-2 pad-t">
				<nav role="navigation" id="nav">
					<ul class="grid grid-middle list-group">
						<li class="unit xs-1 s-1 m-1-4 l-1-4 xl-1-4 text-center btn-ghost">
							<a href="{{site.baseurl}}/index#port">Portfolio</a>
						</li>
						<li class="unit xs-1 s-1 m-1-4 l-1-4 xl-1-4 text-center btn-ghost">
							<a href="{{site.baseurl}}/about">About</a>
						</li>
						<li class="unit xs-1 s-1 m-1-4 l-1-4 xl-1-4 text-center btn-ghost">
						<a href="{{site.baseurl}}/contact">Contact</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
			<div class="grid">
		<div class="unit xs-1 s-1 m-1 l-1 xl-1 island">
			<hr>
		</div>
	</div>
	</header>

<main>
	{{content}}
</main>

		<footer>
				<p class="email micro">Copyright ©StephaniePaiement2016</p>
				<div class="icons">
					<a href="https://twitter.com/stephpaiement"><img class="twitter" src="{{site.baseurl}}/img/twitter-icon.svg" alt="Twitter Icon"></a>
					<a href="https://www.behance.net/StephaniePaiement"><img class="behance" src="{{site.baseurl}}/img/behance-icon.svg" alt="Behance Icon"></a>
				</div>
		</footer>
